#a, #b, #c, #d, #e, #f, #g, #h, #i{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}
#a{
    background:gray;
}

#b{
    background:rgb(75, 69, 69)
}

#c, #d{
    height: 16.666666666%;

}

#c{
    background:rgb(54, 42, 42);
}
#d{
    background:rgb(77, 46, 46);
}
.dividedSection>.divide{
    flex-grow:1;
}
.divide{
    display:inline-flex;
}

#e{
    background:rgb(126, 65, 65);
}
#f{
    background:rgb(153, 49, 49);
}
#g{
    background: rgb(173, 15, 15);
}
#h{
    background: rgb(122, 1, 1)
}
#i{
    background:rgb(54, 0, 0);
}

/*
.divide div{
    float:left;
    width:50%;
}
@media(min-width:768px){
    #a{
        background:rgb(1, 1, 78);
        line-height:100px;
    }
    
    #b{
        line-height:600px;
        background:rgb(4, 4, 112);
    }
    #c,#d{
        line-height:200px;
    }
    #c{
        background:rgb(23, 23, 156);
    }
    #d{
        background:rgb(61, 61, 187);
    }
    #e{
        background:rgb(45, 45, 209);
    }
    #f{
        background:rgb(70, 70, 185);
    }
    #g{
        background:rgb(28, 28, 196);
    }
    #h{
        background:rgb(71, 71, 245);
    }
    #i{
        line-height:150px;
        background:rgb(130, 130, 236);
    }
} */
@media(min-width:768px){
    main section:last-child{
        width:79.166666666%;
        display:flex;
        flex-direction: column;
    }
    #a{
        background:rgb(1, 1, 78);
    }
    #b{
        line-height:600px;
        background:rgb(4, 4, 112);
    }
    #c,#d{
        width:50%;
        height: 44.444444444%;
    }
    .divide{
        display:inline-flex;
        /* width:50%; */
        height: 55.555555555%;
    }
    #c{
        background:rgb(23, 23, 156);
    }
    #d{
        background:rgb(61, 61, 187);
    }
    #e{
        background:rgb(45, 45, 209);
    }
    #f{
        background:rgb(70, 70, 185);
    }
    #g{
        background:rgb(28, 28, 196);
    }
    #h{
        background:rgb(71, 71, 245);
    }
    #i{
        background:rgb(130, 130, 236);
    }
    #footer{
        width:100%; 
    } 
}