/* header nav, main>*{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#a{
    height:100%;
    background:gray;
}
#b{
    height:100%;
    background:rgb(75, 69, 69)
}
#c, #d{
    line-height:125px;
}
#c{
    background:rgb(54, 42, 42);
}
#d{
    background:rgb(77, 46, 46);
}
#e,#f,#g,#h{
    line-height:250px;
}
#e{
    background:rgb(126, 65, 65);
}
#f{
    background:rgb(153, 49, 49);
}
#g{
    background: rgb(173, 15, 15);
}
#h{
    background: rgb(122, 1, 1)
}
#i{
    line-height:80px;
    background:rgb(54, 0, 0);
}
.divide div{
    float:left;
    width:50%;
}
@media(min-width:768px){
    #a{
        background:rgb(1, 1, 78);
        line-height:100px;
    }
    
    #b{
        line-height:600px;
        background:rgb(4, 4, 112);
    }
    #c,#d{
        line-height:200px;
    }
    #c{
        background:rgb(23, 23, 156);
    }
    #d{
        background:rgb(61, 61, 187);
    }
    #e{
        background:rgb(45, 45, 209);
    }
    #f{
        background:rgb(70, 70, 185);
    }
    #g{
        background:rgb(28, 28, 196);
    }
    #h{
        background:rgb(71, 71, 245);
    }
    #i{
        line-height:150px;
        background:rgb(130, 130, 236);
    }
} */